* {box-sizing: border-box;}

body {
    font-family: 'Open Sans', sans-serif;
}

body._lock {
    overflow: hidden;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    
}

a {
    text-decoration: none;
}

//---------------Intro-----------------

.intro {
    width: 100%;
    height: 100vh;
    background: url(../img/introbg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.intro-header {
    border-bottom: 1px solid #3e2e3d;
    
}

.container {
    max-width: 1355px;
    margin: 0 auto;
    padding: 0 30px;
}

.header-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header-logo img:first-child {
    margin-right: 10px;
}

.header-menu {
    align-items: center;
}

.menu-body {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        li {
            margin-right: 50px;
            position: relative;
            a {
                color: #fff;
                font-size: 12px;
                font-weight: 400;
            }
        }
        li:last-child {
            margin-right: 30px;
        }
    }
}

.menu-body ul li a::after {
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 17;
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom: -41px;
    left: 0;
    transition: 0.3s linear;
}

.menu-body ul li:hover a::after {
    opacity: 1;
    visibility: visible;
}

form.search {
    position: relative;
    display: inline-flex;
        
}

.menu-body input[type=text] {
    position: relative;
    padding: 15px;
    font-size: 12px;
    border: 1px solid #c9c9c9;
    border-radius: 30px;
    min-width: 220px;
    color: #c9c9c9;
      
}
  
.menu-body .search-container button {
    position: absolute;
    padding: 12px;
    margin-top: 8px;
    margin-right: 14px;
    background: #fff;
    font-size: 16px;
    color: #c9c9c9;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 0%;
    top: -10%;
}

.intro-info {
    text-align: right;
    padding-top: 275px;
    h1 {
        max-width: 510px;
        font-size: 50px;
        font-weight: 400;
        line-height: 70px;
        color: #fff;
    }
    p {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        padding-right: 15px;
        max-width: 510px;
        padding-bottom: 20px;
    }
}

.intro-but {
    max-width: 510px;
    margin-top: 65px;
    margin-bottom: 30px;
    a {
    max-width: 280px;
    background-color: #fff;
    color: #c7566c;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 30px;
    transition: all 0.2s linear;
    }
}

.intro-but a:hover {
    background-color: #8824cd;
    color: #fff;
    box-shadow: 0 0 5px #8824cd;
}


@media (max-width:950px){
    
    
    
    .header_burger {
        display: block;
        position: fixed;
        width: 30px;
        height: 20px;
        z-index: 100;
        right: 5%;
    }

        

    .header_burger span {
        position: absolute;
        background-color: #fff;
        right: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        z-index: 1000;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 1000;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger::after {
        bottom: 0;
    } 

    .header_burger._active span {
        transform: scale(0);
    }

    .header_burger._active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    
    .header_burger._active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .menu-body {
        position: fixed;
        display: block;
        text-align: center;
        top: -600px;
        left: 0%;
        width: 100%;
        transition: 0.7s linear;
        padding-top: 80px;
        padding-bottom: 30px;
        background-color: #3e2e3d;
        opacity: 0.9;
        z-index: 100;
        overflow: auto;
        
    }

    .menu-body ul li {
        margin-right: 0;
        margin-bottom: 20px;
        a {
            font-size: 24px;
            position: relative;
        }
    }

    .menu-body ul li:last-child {
        margin-right: 0px;
    }

    .menu-body._active {
        top: 0px;
        width: 100%;
    }

    .header-menu {
        display: flex;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
        }
    }

    .menu-body ul li a::after {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        bottom: -5px;
        transition: 0.3s linear;
    }

} 

@media (max-width:580px) {
    .intro-info {
        padding-top: 170px;
        text-align: center;
        h1 {
            font-size: 42px;
            line-height: 50px;
        }
    }
    .container {
        padding: 0 15px;
    }
    
}

//----------------HOW-----------------

.how-info {
    position: relative;
    z-index: 1;
}

.how-infoImg {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        
    }
}

.info-about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 820px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 75px;
}

.info-text {
    max-width: 400px;
    padding-bottom: 65px;
    h2 {
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 30px;
        font-weight: 700;
        color: #fff;
    }
    p {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        line-height: 24px;
    }

}

@media (max-width:950px) {
    .info-about {
        padding-right: 30px;
        padding-left: 30px;
        justify-content: center;

    }
}

.how-wicked {
    position: relative;
}

.how-wickedImg {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.wicked-text {
    padding-top: 155px;
    position: relative;
    text-align: center;
    h1 {
        font-size: 35px;
        font-weight: 400;
        color: #fff;
    }

    p {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 35px;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        line-height: 26px;
        max-width: 450px;
    }
}

.wicked-but {
    padding-bottom: 195px;
    a {
    max-width: 340px;
    background-color: #fff;
    color: #c7566c;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 30px;
    transition: all 0.2s linear;
    }
}

.wicked-but a:hover {
    background-color: #8824cd;
    color: #fff;
    box-shadow: 0 0 5px #8824cd;
}

@media (max-width:580px) {
    .wicked-text {
        padding-left: 20px;
        padding-right: 20px;
    }
}

//--------------Services------------

.services-info {
    display: flex;
}

.services-img {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.services-text {
    padding: 95px 30px 30px 0;
    margin-left: 105px;
    max-width: 710px;
    h2 {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        color: #3a4d60;
    }

    h3 {
        font-size: 20px;
        color: #3a4d60;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    p {
        font-size: 15px;
        color: #3a4d60;
        line-height: 24px;
    }
}

@media (max-width:1300px) {
    .services-text {
        padding-top: 50px;
    }
}

@media (max-width:1070px) {
    .services-img {
        display: none;
    }

    .services-text {
        margin: 0 auto;
        padding-left: 30px;
    }
}

@media (max-width:450px) {
    .services-text {
        h2 {
            font-size: 13px;
        }
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
}

.services-about {
    position: relative;
}

.about-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }
}

.about-img2 {
    opacity: 0.9;
    max-height: 80%;
}

.about-text {
    padding: 190px 30px 115px 30px;
    position: relative;
    z-index: 10;
    text-align: center;
    h2 {
        font-size: 40px;
        font-weight: 100;
        color: #fff;
    }
    h3 {
        font-size: 20px;
        line-height: 33px;
        max-width: 750px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #a87bb7;
    }
    p {
        font-size: 12px;
        margin-top: 15px;
        color: #fff;
    }
}

.about-butt {
    margin-top: 65px;
    margin-bottom: 30px;
    a {
    max-width: 280px;
    background-color: #fff;
    color: #c7566c;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 30px;
    transition: all 0.2s linear;
    }
}

.about-butt a:hover {
    background-color: #8824cd;
    color: #fff;
    box-shadow: 0 0 5px #8824cd;
}

@media (max-width:450px) {
    .about-text {
        padding: 190px 20px 115px 20px;
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 15px;
        }
    }
}

//------------------FAQ------------------

.faq-intro {
    position: relative;
}

.faq-introImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.faq-introText {
    padding-top: 360px;
    padding-bottom: 90px;
    h2 {
        font-size: 40px;
        line-height: 50px;
        max-width: 530px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #fff;
    }
}

.intro-butt {
    a {
        max-width: 135px;
        background-color: transparent;
        color: #fff;
        font-weight: 700;
        font-size: 13px;
        padding: 15px 60px;
        border: 2px solid #fff;
        border-radius: 30px;
        transition: all 0.2s linear;
    }
}

.intro-butt a:hover {
    background-color: #8824cd;
    border-color: #8824cd;
    color: #fff;
    box-shadow: 0 0 5px #8824cd;
}

.text-designer {
    display: inline-flex;
    align-items: center;
    img {
        margin-right: 15px;
    }
    p {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
    }
}

@media (max-width:450px) {
    .faq-introText {
        h2 {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

.faq-info {
    position: relative;
}

.faq-img {
    position: absolute;
    width: 670px;
    right: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.faq-text {
    padding: 95px 30px 146px 0;
    max-width: 710px;
    margin-right: 35px;
    h2 {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        color: #3a4d60;
    }

    h3 {
        font-size: 20px;
        color: #3a4d60;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    p {
        font-size: 15px;
        color: #3a4d60;
        line-height: 24px;
    }
}

@media (max-width:1480px) {
    .faq-text {
        padding-bottom: 39px;
        max-width: 500px;
    }
  
}

@media (max-width:1300px) {
    .faq-img {
        display: none;
    }
    .faq-text {
        padding-top: 50px;
        max-width: none;
    }
}

@media (max-width:1070px) {
    .faq-img {
        display: none;
    }

    .faq-text {
        margin: 0 auto;
        
    }
}

@media (max-width:450px) {
    .faq-text {
        h2 {
            font-size: 13px;
        }
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
}

.footer-get {
    background-color: #e7526b;
}

.container-get {
    padding-top: 75px;
    padding-bottom: 225px;
    h2 {
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }
    p {
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 400px;
        line-height: 24px;
        font-size: 15px;
        color: #fff;
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
}

.footer-about {
    background-color: #2e3b4e;
}

.container-about {
    padding-top: 45px;
    padding-bottom: 300px;
    p {
        font-size: 12px;
        color: #fff;
    }
}


